<!--
  ============================================================
  TAP TERMINAL
  APP ROOT TEMPLATE
  ============================================================
-->

<!-- ==========================================================
     MENÚ PRINCIPAL
     ========================================================== -->

<app-navbar></app-navbar>


<!-- ==========================================================
     CONTENEDOR DE RUTAS
     ==========================================================

     Angular cargará aquí:

         /products
         /users
         /login

     según la ruta seleccionada.
     ========================================================== -->

<main class="app-content">

  <router-outlet></router-outlet>

</main>